


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link href="~/reset.css" rel="stylesheet" />

    <link href="~/StyleSheet2.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div id="headcontain">

            <nav id="hamburger" role="navigation">
                <div id="navToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="nav">
                        <li><a href='/'>Home</a></li>
                        <li><a href='/Hotel'>Async Inn Hotels</a></li>
                        <li><a href='/RoomAmenities'>Create Amenity</a></li>
                        <li><a href='/Room'>Create Room</a></li>
                        <li><a href='/HotelRoom'>Hotel Rooms</a></li>
                        <li><a href='/Amenities'>Room Amenities</a></li>

                    </ul>

                </div>
            </nav>
            <img id="headhotel" src="~/hotelay.png">
            <div id="index-contain">
                <h1 id="index-title">Async Inn Management System</h1>
            </div>
        </div>
</header>
    <main>
        @*<div id="index-contain">
            <h1 id="index-title">Async Inn</h1>
        </div>*@


    </main>
    <footer></footer>
</body>
</html>