@model Async_Inn.Models.Amenities

@{
    ViewData["Title"] = "Edit";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link href="~/reset.css" rel="stylesheet" />

    <link href="~/ControllerHead.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div id="headcontain">

            <nav id="hamburger" role="navigation">
                <div id="navToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="nav">
                        <li><a href='/'>Home</a></li>
                        <li><a href='/Amenities'>Hotel Amenities</a></li>
                        <li><a href='/Hotel'>Hotels</a></li>
                        <li><a href='/HotelRoom'>Hotel Rooms</a></li>
                        <li><a href='/Room'>Rooms</a></li>
                        <li><a href='/RoomAmenities'>Room Amenities</a></li>

                    </ul>

                </div>
            </nav>
            <img id="headhotel" src="~/hotelay.png">
            <div id="index-contain">
                <h1 id="index-title">Async Inn Management System</h1>
            </div>
        </div>
    </header>
    <main>
        <h1>Edit</h1>

        <h4>Amenities</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        </main>
    </body>
</html>