@model Async_Inn.Models.Hotel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}

    <main>
        <div id="create-contain">
            <h1 class="col-md-9 offset-md-4">Create a new Hotel</h1>

            <h4 class="col-md-4 offset-md-4">Hotel</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-9 offset-md-8">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-9 offset-md-8">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-9 offset-md-8">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-9 offset-md-8">
                            <input type="submit" value="Create" id="create-butt" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index" id="create-butt" class="col-md-6 offset-md-4">Back to List</a>
            </div>
            </div>
    </main>

