@model Async_Inn.Models.Hotel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";

}
<main>
    <div id="create-contain">
        <h1 class="col-md-9 offset-md-5 col-centered">Edit hotel</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group col-md-9 offset-md-9">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 offset-md-9">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 offset-md-9">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9 offset-md-9">
                        <input type="submit" value="Save" id="create-butt" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" id="create-butt" class="col-md-6 offset-md-5">Back to List</a>
        </div>
        </div>
</main>
        <footer></footer>
